@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    --webkit-font-smoothing: antialised;
}

.content-linear-shadow {
    @apply relative before:content-[''] before:bg-shadow-gradient before:min-h-full before:z-10 before:absolute before:inset-0
}

@media (min-aspect-ratio: 16/9) {
  iframe {
    height: 56.25vw;
  }
}
@media (max-aspect-ratio: 16/9) {
  iframe {
    width: 177.78vh;
  }
}